<div class="row">
  <div class="col-12">
    <p>
      <strong><%= current_user.email  %></strong>
    </p>
    <p>
      <strong>Comentario:</strong>
      <%= comment.body %>
    </p>
    <% if !comment.new_record? %>
      <div class="row mb-4">
        <div class="col-4">
          <%= link_to 'editar', edit_article_comment_path(@article, comment), class:"btn btn-warning btn-sm" %>
        </div>
        <div class="col-4">
          <%= link_to 'Apagar Comentario', article_comment_path(@article, comment), class:"btn btn-danger btn-sm",
              method: :delete, data: { confirm: 'Apagar o comentario ?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
