<div class="form-group">
  <div class="col-12">
    <%= render 'form' %>
    <div class="col-6">
      <%= link_to 'Voltar', articles_path(@article), class:"btn btn-warning btn-sm form-control" %>
    </div>
  </div>
</div>