<div class="row mt-4">
  <div class="col-12">
    <%= render 'form' %>
    <div class="form_group">
      <div class="col-2">
        <%= link_to 'Voltar', articles_path, class:"btn btn-dark btn-sm form-control" %>
      </div>
    </div>
  </div>
</div>

